.vscode
simulation/bin
simulation/obj
simulation/out
simulation/old_experiments
simulation/old_traces
simulation/trace*
simulation/max*
simulation/experiment*
simulation/best_case_*
simulation/balanced_case_*